/* Объявление переменных цветов страницы */
:root {
  --color-black: #212121;
  --color-grey: #757575;
  --color-blue: #2196f3;
  --color-studio-header: #000;
  --color-white: #fff;
  --background-color-team: #f5f4fa;
  --footer-color: #2f303a;
}

/* Подключение основного и альтернативного шрифтов, цвета текста */
body {
  font-family: Roboto, sans-serif;

  background-color: var(--color-white);
  color: var(--color-grey);
}

/* Значение по умолчанию для всех списков */
.nav-list,
.contacts-list,
.qualities-list,
.work-list,
.team-list,
.address-list,
.filter-list,
.portfolio-list {
  list-style-type: none;
}

/* Значение по умолчанию для всех ссылок */
.header-logo,
.footer-logo,
.nav-link,
.contacts-link,
.address-link {
  text-decoration: none;
}

/* СТУДИЯ */

/* -----Хедер----- */

/* Стилизация лого */
.header-logo,
.footer-logo,
.accent {
  color: var(--color-studio-header);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--color-blue);
}

/* Стилизация навигации */
.nav-link,
.contacts-link {
  color: var(--color-black);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--color-grey);
}

/* Ховер и фокус на ссылки хедера и футера */
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--color-blue);
}

/* -----Герой----- */
.hero {
  background-color: var(--footer-color);
}

.hero-title {
  color: var(--color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--color-blue);
  color: var(--color-white);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* -----Наши качества----- */
.qualities-title {
  color: var(--color-black);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----Чем мы занимаемся----- */
.work-title,
.team-title {
  color: var(--color-black);

  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----Наша команда----- */
.team {
  background-color: var(--background-color-team);
}

.team-member,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-member {
  color: var(--color-black);
  font-weight: 500;
}

/* -----ФУТЕР----- */
.footer {
  background-color: var(--footer-color);
}

.footer-logo {
  color: var(--color-white);
}

.address-link {
  color: var(--color-white);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Прозрачность элементов футера */
.transparent {
  color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛИО */

.filter-button {
  background-color: var(--background-color-team);
  color: var(--color-black);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.portfolio-title {
  color: var(--color-black);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
